body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
}
h1 {
  color: #fbf2d5;
  font-size: 30px;
  font-weight: 500;
  height: 25px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #394a51;
  display: block;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #7fa99b;
  border-radius: 10px;
  background-color: #7fa99b;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 20px;
  float: left;
  height: 70px;
  width: 70px;
}
.weather-temperature strong {
  color: #394a51;
  font-size: 30px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: -10px;
  color: #394a51;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #394a51;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperatures-min {
  color: #fbf2d5;
}

.button {
  background-color: #fbf2d5;
  color: #394a51;
  border: 1px solid #fbf2d5;
  border-radius: 20px;
  padding: 7px;
  transition: 200ms ease-in-out;
}
.button:hover {
  background-color: #394a51;
  border: 1px solid #394a51;
  color: #fbf2d5;
  cursor: pointer;
}
